
<script>
  window.ROOM_ID = "<%= @slug %>";
</script>
<div id="game"><!-- game renders here using JavaScript --></div>
<div class="Footer">
  <p>Perhaps the most valuable gifts these days are our <b>Attention</b> &amp; <b>Presence</b>. <u>I</u> think so, at least.
</div>
